/* Header */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

header {
  padding: 10px 0px 0px 0px;
  background: #fafafa url("../images/cream.png") repeat;
  .logo {
    padding: 0px;
    margin:0px;
    h1 a {
      font-size: 32px;
      color: #777;
      text-decoration: none;
      font-weight: 400;
      &:visited, &:hover {
        font-size: 26px;
        color: #777;
        text-decoration: none;
        font-weight: 400;
      }
    }
    h1.subheader
    {
    	font-size:20px;
    }
   

    .meta {
      color: #888;
      line-height: 15px;
      padding: 0px;
      margin: 0px;
    }
  }
}

/* Navigation #1 */

.navbar *, .nav-collapse * {
  box-shadow: none !important;
  text-shadow: none !important;
  border-radius: 0px !important;
  font-weight: 600 !important;
  font-size: 12.5px !important;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.navbar {
  padding-left: 0px;
  background: transparent;
  filter: none !important;
  border: 0px !important;
  .btn {
    font-size: 13px;
    padding: 6px 10px;
    color: #fff !important;
  }
  border-top: 0px !important;
  border-bottom: 0px !important;
  margin-top: 15px;
  margin-bottom: 0px;
  ul li {
    list-style-type: none;
    padding: 0px;
  }
  button {
    border: 0px;
    background: #eee !important;
    &:hover {
      background: #e9e9e9 !important;
    }
    .icon-bar {
      background: #ddd !important;
    }
  }
  .caret {
    border-top-color: #888 !important;
    border-bottom-color: #888 !important;
  }
  a {
    color: #666 !important;
    background: transparent;
    &:visited {
      color: #666 !important;
      background: transparent;
    }
  }
  .nav > li > a {
    color: #666 !important;
    padding: 15px 10px 15px;
    filter: none !important;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease;
    &:visited {
      color: #666 !important;
      padding: 15px 15px 15px;
      filter: none !important;
      -webkit-transition: color 1s ease;
      -moz-transition: color 1s ease;
      -o-transition: color 1s ease;
      transition: color 1s ease;
    }
    background: transparent !important;
    &:hover, &:active {
      background: transparent !important;
    }
    
  }
}
.nav li ul.nav--top__list{
		display:none;

}
.nav li ul.nav--top__list li
{
	background-color:#ddd;
	width:80px;
	height:10px;
}
.nav li a.link_dropdown:hover + ul
{
	display:block;
	left:-40px;
	top:-15px;
	position:relative;

}
/* Page heading */

.page-head {
  padding: 10px 0px;
  box-shadow: inset 0px 0px 4px #bbb;
  background: #f8f8f8;
  border-bottom: 1px solid #ddd;
  h2 {
    color: #777;
    font-size: 19px;
    line-height: 20px;
  }
  h4 {
    color: #999;
    font-size: 15px;
  }
}

.sep{
  height: 5px;
  background: url("../images/sep.png") repeat;
}
