// bootstrap

@import "_bootstrap.scss";
//footer
@import "body.scss";
@import "footer.scss";
//header

@import "header.scss";

//color
@import "red.scss";

//@import "jquery-ui-min.scss";
//@import "style_public.scss";

.container{
	margin-top:20px;
}
#generate-bbdd,
#generate-anuncis{
	padding-top:15px;
	padding-bottom:15px;

}