// bootstrap

@import "_bootstrap.scss";
//footer
@import "body.scss";
@import "footer.scss";
//header

@import "header.scss";

//color
@import "red.scss";

//@import "jquery-ui-min.scss";
//@import "style_public.scss";

body{
	height:100%;
}
main
{
	min-height:100%;
	position:relative;
}

.container-main{
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	padding-left:15px;
	padding-right:15px;

	

	padding-bottom:237px;
	width:1170px;
	max-width:1075px;
	

}
footer{
	height:237px;
}
#generate-bbdd,
#generate-anuncis{
	padding-top:15px;
	padding-bottom:15px;

}