/* Button */
/* line 4, ../scss/body.scss */
a.btn {
  color: #333 !important; }
  /* line 6, ../scss/body.scss */
  a.btn:visited, a.btn:hover {
    color: #333 !important; }
/* line 10, ../scss/body.scss */
a.btn-primary {
  color: #fff !important; }
  /* line 12, ../scss/body.scss */
  a.btn-primary:visited, a.btn-primary:hover {
    color: #fff !important; }
/* line 16, ../scss/body.scss */
a.btn-warning {
  color: #fff !important; }
  /* line 18, ../scss/body.scss */
  a.btn-warning:visited, a.btn-warning:hover {
    color: #fff !important; }
/* line 22, ../scss/body.scss */
a.btn-danger {
  color: #fff !important; }
  /* line 24, ../scss/body.scss */
  a.btn-danger:visited, a.btn-danger:hover {
    color: #fff !important; }
/* line 28, ../scss/body.scss */
a.btn-success {
  color: #fff !important; }
  /* line 30, ../scss/body.scss */
  a.btn-success:visited, a.btn-success:hover {
    color: #fff !important; }
/* line 34, ../scss/body.scss */
a.btn-info {
  color: #fff !important; }
  /* line 36, ../scss/body.scss */
  a.btn-info:visited, a.btn-info:hover {
    color: #fff !important; }
/* line 40, ../scss/body.scss */
a.btn-inverse {
  color: #fff !important; }
  /* line 42, ../scss/body.scss */
  a.btn-inverse:visited, a.btn-inverse:hover {
    color: #fff !important; }

/* line 48, ../scss/body.scss */
.button {
  margin: 10px 0px 5px 0px; }
  /* line 50, ../scss/body.scss */
  .button a {
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 3px;
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
    -o-transition: background 1s ease;
    transition: background 1s ease;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif; }
    /* line 61, ../scss/body.scss */
    .button a:visited {
      color: #fff;
      padding: 5px 10px;
      font-size: 12px;
      font-weight: 600;
      border-radius: 3px;
      -webkit-transition: background 1s ease;
      -moz-transition: background 1s ease;
      -o-transition: background 1s ease;
      transition: background 1s ease;
      font-family: 'Open Sans', Arial, Helvetica, sans-serif; }
    /* line 73, ../scss/body.scss */
    .button a:hover {
      color: #fff;
      text-decoration: none;
      -webkit-transition: background 1s ease;
      -moz-transition: background 1s ease;
      -o-transition: background 1s ease;
      transition: background 1s ease; }

/* Container */
/* line 86, ../scss/body.scss */
.container {
  max-width: 1075px; }

/* Pricing table #1 */
/* line 91, ../scss/body.scss */
.pricel {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px !important; }

/* line 98, ../scss/body.scss */
.plist a i {
  color: #333; }
/* line 101, ../scss/body.scss */
.plist a:hover i {
  color: #333;
  text-decoration: none; }

/* line 108, ../scss/body.scss */
.pricel .phead-top {
  margin: 0px;
  padding: 15px 10px; }
  /* line 111, ../scss/body.scss */
  .pricel .phead-top h4 {
    color: #fff; }
/* line 115, ../scss/body.scss */
.pricel .phead-bottom {
  background: #f8f8f8;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  padding: 10px 10px 5px 10px;
  color: #777;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px; }
/* line 127, ../scss/body.scss */
.pricel .pst {
  font-size: 12px;
  position: relative;
  top: -5px;
  font-weight: normal; }
/* line 133, ../scss/body.scss */
.pricel .psb {
  font-size: 12px;
  font-weight: normal; }
/* line 137, ../scss/body.scss */
.pricel .pbutton {
  background: #eee;
  border: 1px solid #ddd;
  padding: 10px 0px 15px 0px;
  color: #777;
  font-size: 20px;
  text-align: center;
  margin-top: 0px; }
/* line 146, ../scss/body.scss */
.pricel .plist {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background: #fcfcfc; }
  /* line 150, ../scss/body.scss */
  .pricel .plist ul {
    margin-left: 0px;
    margin-bottom: 0px !important;
    padding-left: 0px; }
  /* line 155, ../scss/body.scss */
  .pricel .plist li {
    list-style-type: none;
    background: none;
    padding: 13px 0px;
    font-size: 12px;
    border-bottom: 1px solid #e1e1e1; }
    /* line 161, ../scss/body.scss */
    .pricel .plist li:nth-child(even) {
      background-color: #f8f8f8; }
    /* line 164, ../scss/body.scss */
    .pricel .plist li:hover {
      background: #fff; }
/* line 169, ../scss/body.scss */
.pricel .phead-top {
  display: block; }
