/* Button */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\000034}}
a.btn {
  color: #333 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\000036}}
  a.btn:visited, a.btn:hover {
    color: #333 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\0000310}}
a.btn-primary {
  color: #fff !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\0000312}}
  a.btn-primary:visited, a.btn-primary:hover {
    color: #fff !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\0000316}}
a.btn-warning {
  color: #fff !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\0000318}}
  a.btn-warning:visited, a.btn-warning:hover {
    color: #fff !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\0000322}}
a.btn-danger {
  color: #fff !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\0000324}}
  a.btn-danger:visited, a.btn-danger:hover {
    color: #fff !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\0000328}}
a.btn-success {
  color: #fff !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\0000330}}
  a.btn-success:visited, a.btn-success:hover {
    color: #fff !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\0000334}}
a.btn-info {
  color: #fff !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\0000336}}
  a.btn-info:visited, a.btn-info:hover {
    color: #fff !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\0000340}}
a.btn-inverse {
  color: #fff !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\0000342}}
  a.btn-inverse:visited, a.btn-inverse:hover {
    color: #fff !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\0000348}}
.button {
  margin: 10px 0px 5px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\0000350}}
  .button a {
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 3px;
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
    -o-transition: background 1s ease;
    transition: background 1s ease;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\0000361}}
    .button a:visited {
      color: #fff;
      padding: 5px 10px;
      font-size: 12px;
      font-weight: 600;
      border-radius: 3px;
      -webkit-transition: background 1s ease;
      -moz-transition: background 1s ease;
      -o-transition: background 1s ease;
      transition: background 1s ease;
      font-family: 'Open Sans', Arial, Helvetica, sans-serif; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\0000373}}
    .button a:hover {
      color: #fff;
      text-decoration: none;
      -webkit-transition: background 1s ease;
      -moz-transition: background 1s ease;
      -o-transition: background 1s ease;
      transition: background 1s ease; }

/* Container */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\0000386}}
.container {
  max-width: 1075px; }

/* Pricing table #1 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\0000391}}
.pricel {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\0000398}}
.plist a i {
  color: #333; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\00003101}}
.plist a:hover i {
  color: #333;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\00003108}}
.pricel .phead-top {
  margin: 0px;
  padding: 15px 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\00003111}}
  .pricel .phead-top h4 {
    color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\00003115}}
.pricel .phead-bottom {
  background: #f8f8f8;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  padding: 10px 10px 5px 10px;
  color: #777;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\00003127}}
.pricel .pst {
  font-size: 12px;
  position: relative;
  top: -5px;
  font-weight: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\00003133}}
.pricel .psb {
  font-size: 12px;
  font-weight: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\00003137}}
.pricel .pbutton {
  background: #eee;
  border: 1px solid #ddd;
  padding: 10px 0px 15px 0px;
  color: #777;
  font-size: 20px;
  text-align: center;
  margin-top: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\00003146}}
.pricel .plist {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background: #fcfcfc; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\00003150}}
  .pricel .plist ul {
    margin-left: 0px;
    margin-bottom: 0px !important;
    padding-left: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\00003155}}
  .pricel .plist li {
    list-style-type: none;
    background: none;
    padding: 13px 0px;
    font-size: 12px;
    border-bottom: 1px solid #e1e1e1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\00003161}}
    .pricel .plist li:nth-child(even) {
      background-color: #f8f8f8; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\00003164}}
    .pricel .plist li:hover {
      background: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/autopublicador\/includes\/scss\/body\.scss}line{font-family:\00003169}}
.pricel .phead-top {
  display: block; }
