/* Social */
/* line 3, ../scss/footer.scss */
.social {
  font-size: 16px;
  margin: 5px 0px; }
  /* line 6, ../scss/footer.scss */
  .social i {
    display: inline-block;
    box-shadow: inset 0px 0px 1px #333;
    height: 25px;
    width: 25px;
    line-height: 25px;
    margin: 0px 5px 0px 0px;
    border-radius: 3px;
    color: #fff;
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
    -o-transition: background 1s ease;
    transition: background 1s ease;
    text-align: center; }
    /* line 20, ../scss/footer.scss */
    .social i.facebook {
      background: #3c5b9b; }
    /* line 23, ../scss/footer.scss */
    .social i.twitter {
      background: #2daae1; }
    /* line 26, ../scss/footer.scss */
    .social i.google-plus {
      background: #f63e28; }
    /* line 29, ../scss/footer.scss */
    .social i.pinterest {
      background: #cb2027; }
    /* line 32, ../scss/footer.scss */
    .social i.linkedin {
      background: #0173b2; }
    /* line 35, ../scss/footer.scss */
    .social i:hover {
      background: #000;
      -webkit-transition: background 1s ease;
      -moz-transition: background 1s ease;
      -o-transition: background 1s ease;
      transition: background 1s ease; }
  /* line 43, ../scss/footer.scss */
  .social a {
    color: #fff;
    text-decoration: none; }
    /* line 46, ../scss/footer.scss */
    .social a:visited, .social a:hover {
      color: #fff;
      text-decoration: none; }

/* Back to top */
/* line 55, ../scss/footer.scss */
.totop {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 104400; }
  /* line 60, ../scss/footer.scss */
  .totop a {
    display: block;
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 30px; }
    /* line 67, ../scss/footer.scss */
    .totop a:visited {
      display: block;
      width: 30px;
      height: 30px;
      color: #fff;
      text-align: center;
      line-height: 30px; }
    /* line 75, ../scss/footer.scss */
    .totop a:hover {
      color: #fff;
      text-decoration: none; }

/* Image alignment*/
/* line 84, ../scss/footer.scss */
.alignleft, img.alignleft {
  margin-right: 8px;
  margin-top: 5px;
  display: inline;
  float: left; }

/* line 91, ../scss/footer.scss */
.alignright, img.alignright {
  margin-left: 8px;
  margin-top: 5px;
  display: inline;
  float: right; }

/* line 98, ../scss/footer.scss */
.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

/* 1-3 Column */
/* line 107, ../scss/footer.scss */
.onethree-left {
  float: left;
  width: 23%; }

/* line 112, ../scss/footer.scss */
.onethree-right {
  float: right;
  width: 76%; }

/* Half column */
/* line 119, ../scss/footer.scss */
.col-left {
  width: 48%;
  float: left; }

/* line 124, ../scss/footer.scss */
.col-right {
  width: 48%;
  float: right; }

/* Title */
/* line 131, ../scss/footer.scss */
.title {
  margin-bottom: 8px;
  padding-bottom: 3px;
  border-bottom: 1px solid #f3f3f3; }
  /* line 135, ../scss/footer.scss */
  .title i {
    margin-right: 3px; }

/* line 139, ../scss/footer.scss */
footer {
  background: #65605c url("../images/footer.png") repeat;
  padding-top: 20px;
  padding-bottom: 0px;
  color: #aaa;
  font-size: 12px;
  box-shadow: inset 0px 0px 10px #000; }
  /* line 146, ../scss/footer.scss */
  footer a {
    color: #ddd; }
    /* line 148, ../scss/footer.scss */
    footer a:visited {
      color: #ddd; }
    /* line 151, ../scss/footer.scss */
    footer a:hover {
      color: #ccc;
      text-decoration: underline; }
  /* line 156, ../scss/footer.scss */
  footer hr {
    height: 0px;
    padding: 0px;
    margin: 5px 0px;
    border-top: 1px solid #111;
    border-bottom: 1px solid #222; }
  /* line 163, ../scss/footer.scss */
  footer h5, footer h6 {
    color: #fff; }
  /* line 166, ../scss/footer.scss */
  footer ul {
    margin-left: 0px;
    padding-left: 0px; }
    /* line 169, ../scss/footer.scss */
    footer ul li {
      list-style-type: none;
      margin-bottom: 5px; }
  /* line 174, ../scss/footer.scss */
  footer .widget {
    margin-bottom: 10px; }
  /* line 177, ../scss/footer.scss */
  footer .copy {
    margin-bottom: 5px;
    font-size: 11px; }
