/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
/* line 4, ../scss/style_public.scss */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 22px;
  color: #666;
  border-top: 3px solid #eee;
  -webkit-font-smoothing: antialiased; }

/* line 13, ../scss/style_public.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  padding: 1px 0px;
  margin: 1px 0px;
  font-weight: 600;
  color: #666; }

/* line 21, ../scss/style_public.scss */
h5, h6 {
  color: #444;
  font-weight: 600; }

/* line 26, ../scss/style_public.scss */
h2 {
  font-size: 25px;
  line-height: 35px; }

/* line 31, ../scss/style_public.scss */
h3 {
  font-size: 20px;
  line-height: 30px; }

/* line 36, ../scss/style_public.scss */
h4 {
  font-size: 16px;
  line-height: 28px; }

/* line 41, ../scss/style_public.scss */
h5 {
  font-size: 14px;
  line-height: 27px; }

/* line 46, ../scss/style_public.scss */
h6 {
  font-size: 13px;
  line-height: 25px; }

/* line 51, ../scss/style_public.scss */
p {
  padding: 0px;
  margin: 0px; }

/* line 57, ../scss/style_public.scss */
a:hover, a:active, a:focus {
  outline: 0; }

/* line 62, ../scss/style_public.scss */
ul li {
  list-style-type: circle;
  padding: 1px 0px; }

/* line 67, ../scss/style_public.scss */
.bold {
  font-weight: 600; }

/* line 71, ../scss/style_public.scss */
.sep {
  height: 5px;
  background: url("../img/sep.png") repeat; }

/* line 76, ../scss/style_public.scss */
hr {
  margin: 15px 0px 10px 0px;
  padding: 0px;
  border-top: 0px;
  border-bottom: 1px solid #f4f4f4;
  height: 0px; }

/* line 84, ../scss/style_public.scss */
.bor {
  height: 5px;
  margin: 10px 0px 10px 0px;
  background: url("../img/sep.png") repeat-x; }

/* line 90, ../scss/style_public.scss */
.center {
  text-align: center; }

/* line 94, ../scss/style_public.scss */
.horizontal-links a {
  margin-right: 20px; }

/* line 99, ../scss/style_public.scss */
a:hover, a:active, a:focus {
  outline: 0; }

/* line 104, ../scss/style_public.scss */
:focus {
  outline: none; }

/* line 108, ../scss/style_public.scss */
::-moz-focus-inner {
  border: 0; }

/* line 112, ../scss/style_public.scss */
.well {
  background: #fafafa;
  border: 1px solid #eee;
  padding: 10px 15px;
  box-shadow: inset 0px 0px 2px #eee;
  margin: 10px 0px; }

/* Form */
/* line 122, ../scss/style_public.scss */
form {
  margin: 5px 0px; }
  /* line 124, ../scss/style_public.scss */
  form * {
    font-size: 13px !important; }
  /* line 127, ../scss/style_public.scss */
  form label {
    font-weight: normal !important;
    color: #9a9a9a; }

/* Button */
/* line 136, ../scss/style_public.scss */
a.btn {
  color: #333 !important; }
  /* line 138, ../scss/style_public.scss */
  a.btn:visited, a.btn:hover {
    color: #333 !important; }
/* line 142, ../scss/style_public.scss */
a.btn-primary {
  color: #fff !important; }
  /* line 144, ../scss/style_public.scss */
  a.btn-primary:visited, a.btn-primary:hover {
    color: #fff !important; }
/* line 148, ../scss/style_public.scss */
a.btn-warning {
  color: #fff !important; }
  /* line 150, ../scss/style_public.scss */
  a.btn-warning:visited, a.btn-warning:hover {
    color: #fff !important; }
/* line 154, ../scss/style_public.scss */
a.btn-danger {
  color: #fff !important; }
  /* line 156, ../scss/style_public.scss */
  a.btn-danger:visited, a.btn-danger:hover {
    color: #fff !important; }
/* line 160, ../scss/style_public.scss */
a.btn-success {
  color: #fff !important; }
  /* line 162, ../scss/style_public.scss */
  a.btn-success:visited, a.btn-success:hover {
    color: #fff !important; }
/* line 166, ../scss/style_public.scss */
a.btn-info {
  color: #fff !important; }
  /* line 168, ../scss/style_public.scss */
  a.btn-info:visited, a.btn-info:hover {
    color: #fff !important; }
/* line 172, ../scss/style_public.scss */
a.btn-inverse {
  color: #fff !important; }
  /* line 174, ../scss/style_public.scss */
  a.btn-inverse:visited, a.btn-inverse:hover {
    color: #fff !important; }

/* line 180, ../scss/style_public.scss */
.button {
  margin: 10px 0px 5px 0px; }
  /* line 182, ../scss/style_public.scss */
  .button a {
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 3px;
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
    -o-transition: background 1s ease;
    transition: background 1s ease;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif; }
    /* line 193, ../scss/style_public.scss */
    .button a:visited {
      color: #fff;
      padding: 5px 10px;
      font-size: 12px;
      font-weight: 600;
      border-radius: 3px;
      -webkit-transition: background 1s ease;
      -moz-transition: background 1s ease;
      -o-transition: background 1s ease;
      transition: background 1s ease;
      font-family: 'Open Sans', Arial, Helvetica, sans-serif; }
    /* line 205, ../scss/style_public.scss */
    .button a:hover {
      color: #fff;
      text-decoration: none;
      -webkit-transition: background 1s ease;
      -moz-transition: background 1s ease;
      -o-transition: background 1s ease;
      transition: background 1s ease; }

/* Social */
/* line 218, ../scss/style_public.scss */
.social {
  font-size: 16px;
  margin: 5px 0px; }
  /* line 221, ../scss/style_public.scss */
  .social i {
    display: inline-block;
    box-shadow: inset 0px 0px 1px #333;
    height: 25px;
    width: 25px;
    line-height: 25px;
    margin: 0px 5px 0px 0px;
    border-radius: 3px;
    color: #fff;
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
    -o-transition: background 1s ease;
    transition: background 1s ease;
    text-align: center; }
    /* line 235, ../scss/style_public.scss */
    .social i.facebook {
      background: #3c5b9b; }
    /* line 238, ../scss/style_public.scss */
    .social i.twitter {
      background: #2daae1; }
    /* line 241, ../scss/style_public.scss */
    .social i.google-plus {
      background: #f63e28; }
    /* line 244, ../scss/style_public.scss */
    .social i.pinterest {
      background: #cb2027; }
    /* line 247, ../scss/style_public.scss */
    .social i.linkedin {
      background: #0173b2; }
    /* line 250, ../scss/style_public.scss */
    .social i:hover {
      background: #000;
      -webkit-transition: background 1s ease;
      -moz-transition: background 1s ease;
      -o-transition: background 1s ease;
      transition: background 1s ease; }
  /* line 258, ../scss/style_public.scss */
  .social a {
    color: #fff;
    text-decoration: none; }
    /* line 261, ../scss/style_public.scss */
    .social a:visited, .social a:hover {
      color: #fff;
      text-decoration: none; }

/* Back to top */
/* line 270, ../scss/style_public.scss */
.totop {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 104400; }
  /* line 275, ../scss/style_public.scss */
  .totop a {
    display: block;
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 30px; }
    /* line 282, ../scss/style_public.scss */
    .totop a:visited {
      display: block;
      width: 30px;
      height: 30px;
      color: #fff;
      text-align: center;
      line-height: 30px; }
    /* line 290, ../scss/style_public.scss */
    .totop a:hover {
      color: #fff;
      text-decoration: none; }

/* Image alignment*/
/* line 299, ../scss/style_public.scss */
.alignleft, img.alignleft {
  margin-right: 8px;
  margin-top: 5px;
  display: inline;
  float: left; }

/* line 306, ../scss/style_public.scss */
.alignright, img.alignright {
  margin-left: 8px;
  margin-top: 5px;
  display: inline;
  float: right; }

/* line 313, ../scss/style_public.scss */
.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

/* 1-3 Column */
/* line 322, ../scss/style_public.scss */
.onethree-left {
  float: left;
  width: 23%; }

/* line 327, ../scss/style_public.scss */
.onethree-right {
  float: right;
  width: 76%; }

/* Half column */
/* line 334, ../scss/style_public.scss */
.col-left {
  width: 48%;
  float: left; }

/* line 339, ../scss/style_public.scss */
.col-right {
  width: 48%;
  float: right; }

/* Title */
/* line 346, ../scss/style_public.scss */
.title {
  margin-bottom: 8px;
  padding-bottom: 3px;
  border-bottom: 1px solid #f3f3f3; }
  /* line 350, ../scss/style_public.scss */
  .title i {
    margin-right: 3px; }

/* Container */
/* line 357, ../scss/style_public.scss */
.container {
  max-width: 980px; }

/* line 361, ../scss/style_public.scss */
.dropdown-menu {
  border-radius: 0px !important;
  box-shadow: none !important;
  border: none !important;
  padding: 0px 0px;
  margin: 0px;
  z-index: 300000;
  background: #333;
  border: 0px !important; }
  /* line 370, ../scss/style_public.scss */
  .dropdown-menu a {
    padding: 7px 10px !important;
    color: #ccc !important;
    text-shadow: none !important;
    background: #333 !important;
    border-top: 1px solid #444 !important;
    border-bottom: 1px solid #222 !important; }
    /* line 377, ../scss/style_public.scss */
    .dropdown-menu a:visited {
      padding: 7px 10px !important;
      color: #ccc !important;
      text-shadow: none !important;
      background: #333 !important;
      border-top: 1px solid #444 !important;
      border-bottom: 1px solid #222 !important; }
    /* line 385, ../scss/style_public.scss */
    .dropdown-menu a:hover, .dropdown-menu a:focus {
      filter: none !important;
      background: #222 !important; }
  /* line 390, ../scss/style_public.scss */
  .dropdown-menu:after, .dropdown-menu:before {
    border: none !important; }

/* line 396, ../scss/style_public.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: transparent; }

/* Parallax Slider */
/* line 403, ../scss/style_public.scss */
.da-slider {
  margin-bottom: 0px; }

/* line 408, ../scss/style_public.scss */
.da-slide h2 {
  position: relative;
  color: #fff;
  font-weight: normal;
  font-size: 35px; }
  /* line 413, ../scss/style_public.scss */
  .da-slide h2 span {
    padding: 5px 15px; }
/* line 417, ../scss/style_public.scss */
.da-slide p {
  position: absoulte;
  top: 100px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-style: normal;
  font-size: 13px;
  line-height: 23px;
  padding: 10px;
  padding-bottom: 0px; }
/* line 428, ../scss/style_public.scss */
.da-slide .da-link {
  top: 205px;
  border-radius: 0px;
  font-size: 13px;
  width: 100px; }

/* line 436, ../scss/style_public.scss */
.da-dots {
  display: none; }
  /* line 438, ../scss/style_public.scss */
  .da-dots span {
    background: #222; }

/* line 443, ../scss/style_public.scss */
.da-arrows span {
  background: #222; }

/* line 447, ../scss/style_public.scss */
.da-slide .da-link {
  background: rgba(0, 0, 0, 0.8); }
  /* line 449, ../scss/style_public.scss */
  .da-slide .da-link:hover {
    background: rgba(0, 0, 0, 0.8); }

/* Hero unit */
/* line 456, ../scss/style_public.scss */
.hero {
  text-align: center;
  margin: 25px auto;
  max-width: 700px; }

/* Page heading */
/* line 464, ../scss/style_public.scss */
.page-head {
  padding: 20px 0px;
  box-shadow: inset 0px 0px 4px #bbb;
  background: #f8f8f8;
  border-bottom: 1px solid #ddd; }
  /* line 469, ../scss/style_public.scss */
  .page-head h2 {
    color: #777;
    font-size: 23px;
    line-height: 33px; }
  /* line 474, ../scss/style_public.scss */
  .page-head h4 {
    color: #999;
    font-size: 15px; }

/* Service #2 */
/* line 482, ../scss/style_public.scss */
.aserv-list {
  margin-top: 10px;
  margin-bottom: 10px; }

/* line 487, ../scss/style_public.scss */
.aserv {
  padding: 7px 0px 7px 0px; }

/* line 491, ../scss/style_public.scss */
.aserv-img {
  float: left;
  margin-right: 6px;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  border: 4px solid #e7e7e7 !important; }
  /* line 498, ../scss/style_public.scss */
  .aserv-img i {
    position: relative;
    display: inline-block;
    color: #fff;
    background: #777;
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    border-radius: 30px;
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
    -o-transition: background 1s ease;
    transition: background 1s ease;
    cursor: pointer; }
    /* line 514, ../scss/style_public.scss */
    .aserv-img i:hover {
      -webkit-transition: background 1s ease;
      -moz-transition: background 1s ease;
      -o-transition: background 1s ease;
      transition: background 1s ease; }

/* line 523, ../scss/style_public.scss */
.aserv-details {
  float: left;
  font-size: 14px;
  font-weight: 700;
  color: #888;
  line-height: 40px; }

/* Slider Features */
/* line 533, ../scss/style_public.scss */
.slider-features {
  padding: 20px 0px;
  background: #fafafa url("../img/cream.png") repeat;
  border-bottom: 1px solid #ddd; }
  /* line 537, ../scss/style_public.scss */
  .slider-features .img {
    color: #fff; }
  /* line 540, ../scss/style_public.scss */
  .slider-features i {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 23px;
    border-radius: 50px;
    line-height: 50px;
    text-align: center;
    margin: 5px auto;
    box-shadow: inset 0px 0px 2px #444; }
  /* line 551, ../scss/style_public.scss */
  .slider-features h5 {
    line-height: 20px; }
    /* line 553, ../scss/style_public.scss */
    .slider-features h5 a {
      color: #444;
      -webkit-transition: color 1s ease;
      -moz-transition: color 1s ease;
      -o-transition: color 1s ease;
      transition: color 1s ease; }
      /* line 559, ../scss/style_public.scss */
      .slider-features h5 a:visited {
        color: #444;
        -webkit-transition: color 1s ease;
        -moz-transition: color 1s ease;
        -o-transition: color 1s ease;
        transition: color 1s ease; }
      /* line 566, ../scss/style_public.scss */
      .slider-features h5 a:hover {
        text-decoration: none;
        -webkit-transition: color 1s ease;
        -moz-transition: color 1s ease;
        -o-transition: color 1s ease;
        transition: color 1s ease; }

/* Content */
/* line 579, ../scss/style_public.scss */
.content {
  margin: 20px 0px; }

/* CTA */
/* line 585, ../scss/style_public.scss */
.cta {
  background: #eeeeee url("../img/cream.png") repeat;
  padding: 12px 0px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 1px #aaa;
  margin: 15px 0px 15px 0px; }
  /* line 591, ../scss/style_public.scss */
  .cta h5 {
    margin: 0px;
    padding: 0px; }

/* line 597, ../scss/style_public.scss */
.ctas {
  padding: 3px 10px; }
  /* line 599, ../scss/style_public.scss */
  .ctas .button {
    margin: 5px 0px;
    margin-top: 15px; }

/* Features #1 */
/* line 607, ../scss/style_public.scss */
.features-one .feat {
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee; }
  /* line 611, ../scss/style_public.scss */
  .features-one .feat i {
    margin-right: 3px; }

/* Features #2 */
/* line 618, ../scss/style_public.scss */
.features-two {
  text-align: center;
  margin: 30px 0px 20px 0px; }
  /* line 621, ../scss/style_public.scss */
  .features-two .feat-inner {
    padding: 20px 10px 10px 10px;
    background: #fafafa url("../img/cream.png") repeat;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px #ccc;
    margin-bottom: 20px; }
  /* line 628, ../scss/style_public.scss */
  .features-two i {
    font-size: 35px;
    margin-bottom: 10px; }
  /* line 632, ../scss/style_public.scss */
  .features-two .button {
    margin-top: 10px;
    margin-bottom: 20px; }
    /* line 635, ../scss/style_public.scss */
    .features-two .button a {
      font-size: 11px; }

/* Features three */
/* line 643, ../scss/style_public.scss */
.features-three img {
  margin: 10px 0px; }

/* Recent posts */
/* Own carousel */
/* line 651, ../scss/style_public.scss */
.rp {
  margin-top: 20px;
  margin-bottom: 20px; }

/* line 657, ../scss/style_public.scss */
.recent-news .recent-item {
  position: relative; }
/* line 660, ../scss/style_public.scss */
.recent-news .item {
  margin: 5px;
  background: #fcfcfc;
  border: 1px solid #eee;
  max-width: 240px; }
  /* line 665, ../scss/style_public.scss */
  .recent-news .item h4 {
    padding: 0px 15px;
    margin-top: 15px !important;
    font-size: 14px;
    line-height: 25px;
    font-weight: bold; }
    /* line 671, ../scss/style_public.scss */
    .recent-news .item h4 a {
      color: #777;
      text-decoration: none; }
      /* line 674, ../scss/style_public.scss */
      .recent-news .item h4 a:hover {
        color: #777;
        text-decoration: none; }
  /* line 680, ../scss/style_public.scss */
  .recent-news .item p {
    color: #999;
    padding: 0px 15px 10px 15px; }
  /* line 684, ../scss/style_public.scss */
  .recent-news .item a img {
    max-height: 170px;
    margin: 0 auto; }
/* line 690, ../scss/style_public.scss */
.recent-news .custom-nav a i {
  width: 22px;
  height: 22px;
  cursor: pointer;
  line-height: 24px;
  display: inline-block;
  border-radius: 40px;
  text-align: center;
  font-size: 11px;
  position: absolute;
  top: -37px;
  color: #fff; }
/* line 703, ../scss/style_public.scss */
.recent-news .custom-nav a.prev i {
  right: 26px; }
/* line 706, ../scss/style_public.scss */
.recent-news .custom-nav a.next i {
  right: 0px; }

/* Slider items */
/* line 714, ../scss/style_public.scss */
.recent-posts .s-item {
  max-width: 300px;
  background: #fafafa;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 10px;
  border-bottom: 2px solid #eee;
  -webkit-transition: border-bottom 1s ease;
  -moz-transition: border-bottom 1s ease;
  -o-transition: border-bottom 1s ease;
  transition: border-bottom 1s ease; }
  /* line 725, ../scss/style_public.scss */
  .recent-posts .s-item .s-caption {
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center; }
    /* line 729, ../scss/style_public.scss */
    .recent-posts .s-item .s-caption h5 {
      margin-bottom: 3px;
      font-weight: bold; }
      /* line 732, ../scss/style_public.scss */
      .recent-posts .s-item .s-caption h5 a {
        color: #878787;
        text-decoration: none !important; }
  /* line 738, ../scss/style_public.scss */
  .recent-posts .s-item .price {
    display: inline-block;
    box-shadow: inset 0px 0px 2px #444;
    padding: 3px 5px !important;
    line-height: 18px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold; }
  /* line 747, ../scss/style_public.scss */
  .recent-posts .s-item .s-caption p {
    font-size: 13px;
    line-height: 20px;
    font-style: italic; }

/* Service style #1 */
/* line 756, ../scss/style_public.scss */
.service-one {
  text-align: center;
  margin: 30px 0px 20px 0px; }
  /* line 759, ../scss/style_public.scss */
  .service-one i {
    font-size: 35px;
    color: #666;
    margin-bottom: 10px; }
  /* line 764, ../scss/style_public.scss */
  .service-one .button {
    margin-top: 10px;
    margin-bottom: 20px; }
    /* line 767, ../scss/style_public.scss */
    .service-one .button a {
      font-size: 11px; }

/* Service style #2 */
/* line 775, ../scss/style_public.scss */
.service-two h5 i {
  margin-top: 3px;
  margin-right: 3px; }

/* Flex slider for image */
/* line 782, ../scss/style_public.scss */
.flex-main .flexslider {
  margin: 20px 0px;
  margin-bottom: 10px;
  padding: 3px 5px;
  padding-bottom: 0px;
  border: 1px solid #ddd; }
  /* line 788, ../scss/style_public.scss */
  .flex-main .flexslider .slides > li {
    position: relative; }

/* line 793, ../scss/style_public.scss */
.flex-caption {
  width: 40%;
  margin: 0 0 100px 50px;
  position: absolute;
  display: block;
  left: 0;
  bottom: 0; }
  /* line 800, ../scss/style_public.scss */
  .flex-caption h3 {
    padding: 8px 10px;
    color: #fff;
    font-size: 16px;
    margin: 0;
    line-height: 22px; }
    /* line 806, ../scss/style_public.scss */
    .flex-caption h3 span {
      padding-bottom: 3px; }
  /* line 810, ../scss/style_public.scss */
  .flex-caption p {
    margin: 0;
    line-height: 19px;
    color: #ddd;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px; }

/* line 820, ../scss/style_public.scss */
.flex-direction-nav .flex-prev {
  left: 20px !important; }
/* line 823, ../scss/style_public.scss */
.flex-direction-nav .flex-next {
  right: 20px !important; }

/* Flex Slider */
/* line 830, ../scss/style_public.scss */
.flexslider {
  margin: 5px 0px;
  margin-bottom: 30px;
  border: 1px solid #eee;
  box-shadow: none; }
  /* line 835, ../scss/style_public.scss */
  .flexslider ul {
    padding: 0px;
    margin: 0px; }
    /* line 838, ../scss/style_public.scss */
    .flexslider ul li {
      list-style-type: none; }

/* line 844, ../scss/style_public.scss */
.flex-control-nav {
  bottom: -35px;
  text-align: left; }
  /* line 847, ../scss/style_public.scss */
  .flex-control-nav li {
    margin: 0px;
    margin-right: 4px; }

/* line 853, ../scss/style_public.scss */
.flex-control-paging li a {
  width: 7px;
  height: 7px;
  border-radius: 0px; }

/* line 860, ../scss/style_public.scss */
.fsliders h5 {
  margin-bottom: 7px; }
/* line 863, ../scss/style_public.scss */
.fsliders .span4 {
  margin-bottom: 10px; }

/* Testimonial slider */
/* line 870, ../scss/style_public.scss */
.testi-flex {
  padding: 4px 8px; }
  /* line 872, ../scss/style_public.scss */
  .testi-flex p {
    font-style: italic;
    line-height: 22px; }
  /* line 876, ../scss/style_public.scss */
  .testi-flex .author {
    font-style: normal;
    font-size: 12px; }

/* Tabs */
/* line 884, ../scss/style_public.scss */
.tabs {
  margin-bottom: 10px; }
  /* line 886, ../scss/style_public.scss */
  .tabs ul {
    padding: 0px;
    margin: 0px; }
    /* line 889, ../scss/style_public.scss */
    .tabs ul li {
      list-style-type: none; }
  /* line 893, ../scss/style_public.scss */
  .tabs * {
    border: 0px !important; }
  /* line 897, ../scss/style_public.scss */
  .tabs li a {
    padding: 5px 8px;
    font-size: 12px;
    border: 1px solid #eee !important;
    border-bottom: 1px solid #eee !important; }
  /* line 903, ../scss/style_public.scss */
  .tabs li.active a {
    background: #f2f2f2;
    border: 1px solid #eee !important;
    color: #777; }
    /* line 906, ../scss/style_public.scss */
    .tabs li.active a:hover {
      background: #f2f2f2;
      color: #777; }
  /* line 912, ../scss/style_public.scss */
  .tabs li a {
    background: #fafafa;
    color: #777;
    cursor: pointer !important; }
    /* line 916, ../scss/style_public.scss */
    .tabs li a:hover {
      background: #eee;
      color: #777; }
  /* line 922, ../scss/style_public.scss */
  .tabs .tab-pane {
    padding: 8px 10px;
    background: #fff;
    border: 1px solid #eee !important;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; }

/* About Slider */
/* line 933, ../scss/style_public.scss */
.about-flex {
  padding: 4px 8px; }
  /* line 935, ../scss/style_public.scss */
  .about-flex img {
    max-width: 40px; }
  /* line 938, ../scss/style_public.scss */
  .about-flex hr {
    margin: 6px 0px 3px 0px; }
  /* line 941, ../scss/style_public.scss */
  .about-flex .meta {
    display: block;
    font-size: 11px;
    font-style: italic;
    font-weight: normal;
    line-height: 15px;
    color: #666;
    font-family: Arial, Helvetica, sans-serif; }
  /* line 950, ../scss/style_public.scss */
  .about-flex p {
    padding: 5px 0px; }

/* Blog */
/* line 958, ../scss/style_public.scss */
.blog .entry h2 {
  font-size: 22px;
  line-height: 32px; }
  /* line 961, ../scss/style_public.scss */
  .blog .entry h2 a {
    text-decoration: none;
    color: #777; }
    /* line 964, ../scss/style_public.scss */
    .blog .entry h2 a:visited, .blog .entry h2 a:hover {
      text-decoration: none;
      color: #777; }
/* line 970, ../scss/style_public.scss */
.blog .meta {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 8px 0px;
  padding: 4px 8px;
  color: #888;
  text-transform: uppercase;
  font-size: 11px;
  background: #eeeeee url("../img/cream.png") repeat; }
  /* line 979, ../scss/style_public.scss */
  .blog .meta a {
    color: #555; }
    /* line 981, ../scss/style_public.scss */
    .blog .meta a:visited {
      color: #555; }
  /* line 985, ../scss/style_public.scss */
  .blog .meta i {
    margin-right: 3px;
    margin-left: 3px; }
/* line 990, ../scss/style_public.scss */
.blog .bthumb {
  margin: 10px 0px 5px 0px;
  padding: 1px;
  box-shadow: 0px 0px 1px #777; }
/* line 995, ../scss/style_public.scss */
.blog .bthumb2 {
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 6px;
  padding: 1px;
  box-shadow: 0px 0px 1px #777; }
/* line 1002, ../scss/style_public.scss */
.blog .bthumb3 {
  float: left;
  max-width: 150px;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 6px;
  padding: 1px;
  box-shadow: 0px 0px 1px #777; }
/* line 1011, ../scss/style_public.scss */
.blog .bthumb2 img {
  margin: 0px; }
/* line 1014, ../scss/style_public.scss */
.blog .entry {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee; }

/* line 1021, ../scss/style_public.scss */
.blog-mul-col .entry {
  width: 100%;
  margin: 0 auto;
  max-width: 350px; }

/* line 1028, ../scss/style_public.scss */
.posts .social {
  font-size: 16px; }
  /* line 1030, ../scss/style_public.scss */
  .posts .social i {
    box-shadow: inset 0px 0px 1px #333;
    height: 25px;
    width: 25px;
    line-height: 25px;
    margin: 0px 5px 0px 0px;
    border-radius: 3px;
    color: #fff;
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
    -o-transition: background 1s ease;
    transition: background 1s ease;
    text-align: center; }
/* line 1046, ../scss/style_public.scss */
.posts i.facebook {
  background: #3c5b9b; }
/* line 1049, ../scss/style_public.scss */
.posts i.twitter {
  background: #2daae1; }
/* line 1052, ../scss/style_public.scss */
.posts i.google-plus {
  background: #f63e28; }
/* line 1055, ../scss/style_public.scss */
.posts i.pinterest {
  background: #cb2027; }
/* line 1058, ../scss/style_public.scss */
.posts i.linkedin {
  background: #0173b2; }
/* line 1063, ../scss/style_public.scss */
.posts .social i:hover {
  background: #000;
  -webkit-transition: background 1s ease;
  -moz-transition: background 1s ease;
  -o-transition: background 1s ease;
  transition: background 1s ease; }
/* line 1070, ../scss/style_public.scss */
.posts .social a {
  color: #fff;
  text-decoration: none; }
  /* line 1073, ../scss/style_public.scss */
  .posts .social a:visited, .posts .social a:hover {
    color: #fff;
    text-decoration: none; }
/* line 1079, ../scss/style_public.scss */
.posts .tags a {
  display: inline-block;
  font-weight: normal;
  padding: 0px 5px;
  color: #fff;
  border-radius: 4px;
  font-size: 13px;
  -webkit-transition: background 1s ease;
  -moz-transition: background 1s ease;
  -o-transition: background 1s ease;
  transition: background 1s ease; }
  /* line 1090, ../scss/style_public.scss */
  .posts .tags a:hover {
    color: #fff;
    text-decoration: none;
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
    -o-transition: background 1s ease;
    transition: background 1s ease; }

/* Blog #2 */
/* line 1104, ../scss/style_public.scss */
.blog .pblock .entry h2 {
  font-size: 17px;
  line-height: 25px; }
/* line 1108, ../scss/style_public.scss */
.blog .pblock img {
  max-width: 100%; }

/* Comments */
/* line 1116, ../scss/style_public.scss */
.comments > ul > li {
  background: none;
  padding: 0px; }
/* line 1120, ../scss/style_public.scss */
.comments .comment {
  margin: 10px 0px;
  padding: 7px 10px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #eee;
  border-bottom: 2px solid #ddd; }
/* line 1128, ../scss/style_public.scss */
.comments img {
  max-width: 60px; }
/* line 1131, ../scss/style_public.scss */
.comments ul {
  margin: 0px;
  padding: 0px; }
  /* line 1134, ../scss/style_public.scss */
  .comments ul li {
    list-style-type: none; }

/* line 1141, ../scss/style_public.scss */
.comment .avatar {
  margin-top: 5px;
  margin-right: 8px;
  padding: 1px;
  background: #fff;
  border: 1px solid #aaa; }
/* line 1148, ../scss/style_public.scss */
.comment .cmeta {
  font-size: 12px; }
/* line 1151, ../scss/style_public.scss */
.comment p {
  margin-top: 5px; }

/* line 1156, ../scss/style_public.scss */
.comments .reply {
  margin-left: 15px; }

/* line 1160, ../scss/style_public.scss */
.respond .title, .comments .title {
  padding: 10px 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee; }

/* Sidebar */
/* line 1168, ../scss/style_public.scss */
.sidebar {
  margin-top: 10px; }
  /* line 1170, ../scss/style_public.scss */
  .sidebar h4 {
    font-size: 13px;
    color: #555;
    line-height: 18px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #eee; }
  /* line 1179, ../scss/style_public.scss */
  .sidebar .widget {
    background: #fff;
    padding: 8px 10px;
    margin-bottom: 10px;
    border: 1px solid #eee; }
    /* line 1184, ../scss/style_public.scss */
    .sidebar .widget .form-search {
      margin-top: 10px;
      margin-bottom: 10px; }
    /* line 1188, ../scss/style_public.scss */
    .sidebar .widget ul {
      margin-left: 0px;
      padding-left: 15px; }

/* Pagination */
/* line 1197, ../scss/style_public.scss */
.paging {
  width: 270px;
  clear: both;
  padding: 6px 0;
  line-height: 17px;
  font-size: 13px; }
  /* line 1203, ../scss/style_public.scss */
  .paging span {
    display: block;
    float: left;
    margin: 2px 2px 2px 0;
    padding: 5px 8px;
    text-decoration: none;
    width: auto;
    color: #666;
    background: #fff;
    border: 1px solid #ddd;
    font-weight: normal; }
  /* line 1215, ../scss/style_public.scss */
  .paging a {
    display: block;
    float: left;
    margin: 2px 2px 2px 0;
    padding: 5px 8px;
    text-decoration: none;
    width: auto;
    color: #666;
    background: #fff;
    border: 1px solid #ddd;
    font-weight: normal; }
    /* line 1226, ../scss/style_public.scss */
    .paging a:hover {
      color: #fff; }
  /* line 1230, ../scss/style_public.scss */
  .paging .current {
    padding: 5px 8px;
    color: #fff; }

/* FAQ */
/* line 1238, ../scss/style_public.scss */
.faq .panel-heading h4 a {
  color: #666 !important;
  text-decoration: none !important; }

/* 404 Page */
/* line 1245, ../scss/style_public.scss */
.error-page .big-text {
  font-size: 170px;
  line-height: 180px;
  color: #999; }

/* Support */
/* line 1253, ../scss/style_public.scss */
#slist {
  margin-left: 15px;
  padding-left: 0px; }
  /* line 1254, ../scss/style_public.scss */
  #slist p {
    display: none;
    margin: 5px 0px;
    padding: 5px 10px;
    background: #fff;
    line-height: 25px;
    border: 1px solid #eee; }
  /* line 1264, ../scss/style_public.scss */
  #slist li a {
    display: block;
    margin-bottom: 10px; }

/* line 1270, ../scss/style_public.scss */
.filterinput {
  padding: 4px;
  border-radius: 3px;
  border: 1px solid #eee; }

/* line 1277, ../scss/style_public.scss */
.scontact p {
  margin-bottom: 10px; }
/* line 1280, ../scss/style_public.scss */
.scontact i {
  margin-right: 5px; }

/* Sitemap */
/* line 1287, ../scss/style_public.scss */
.sitemap ul {
  padding-left: 15px; }

/* Contact #1 */
/* line 1293, ../scss/style_public.scss */
.gmap iframe {
  width: 100%; }

/* Accordion */
/* line 1299, ../scss/style_public.scss */
.accordion-heading .accordion-toggle {
  display: block;
  padding: 0px; }

/* line 1304, ../scss/style_public.scss */
.accordion li {
  line-height: 10px; }

/* line 1308, ../scss/style_public.scss */
.accordion-heading a {
  border: none;
  color: #fff;
  text-decoration: none;
  padding: 10px !important;
  background: #fafafa; }
  /* line 1314, ../scss/style_public.scss */
  .accordion-heading a:visited, .accordion-heading a:hover {
    border: none;
    color: #fff;
    text-decoration: none;
    padding: 10px !important;
    background: #fafafa; }

/* Pricing table #1 */
/* line 1325, ../scss/style_public.scss */
.pricel {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px !important; }

/* line 1332, ../scss/style_public.scss */
.plist a i {
  color: #333; }
/* line 1335, ../scss/style_public.scss */
.plist a:hover i {
  color: #333;
  text-decoration: none; }

/* line 1342, ../scss/style_public.scss */
.pricel .phead-top {
  margin: 0px;
  padding: 15px 10px; }
  /* line 1345, ../scss/style_public.scss */
  .pricel .phead-top h4 {
    color: #fff; }
/* line 1349, ../scss/style_public.scss */
.pricel .phead-bottom {
  background: #f8f8f8;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  padding: 10px 10px 5px 10px;
  color: #777;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px; }
/* line 1361, ../scss/style_public.scss */
.pricel .pst {
  font-size: 12px;
  position: relative;
  top: -5px;
  font-weight: normal; }
/* line 1367, ../scss/style_public.scss */
.pricel .psb {
  font-size: 12px;
  font-weight: normal; }
/* line 1371, ../scss/style_public.scss */
.pricel .pbutton {
  background: #eee;
  border: 1px solid #ddd;
  padding: 10px 0px 15px 0px;
  color: #777;
  font-size: 20px;
  text-align: center;
  margin-top: 0px; }
/* line 1380, ../scss/style_public.scss */
.pricel .plist {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background: #fcfcfc; }
  /* line 1384, ../scss/style_public.scss */
  .pricel .plist ul {
    margin-left: 0px;
    margin-bottom: 0px !important;
    padding-left: 0px; }
  /* line 1389, ../scss/style_public.scss */
  .pricel .plist li {
    list-style-type: none;
    background: none;
    padding: 13px 0px;
    font-size: 12px;
    border-bottom: 1px solid #e1e1e1; }
    /* line 1395, ../scss/style_public.scss */
    .pricel .plist li:nth-child(even) {
      background-color: #f8f8f8; }
    /* line 1398, ../scss/style_public.scss */
    .pricel .plist li:hover {
      background: #fff; }
/* line 1403, ../scss/style_public.scss */
.pricel .phead-top {
  display: block; }

/* Pricing #2 */
/* line 1411, ../scss/style_public.scss */
.pricing-two .pricel {
  max-width: 260px;
  margin: 40px auto; }
/* line 1415, ../scss/style_public.scss */
.pricing-two .phead-top {
  padding-top: 60px; }

/* line 1420, ../scss/style_public.scss */
.phead-round {
  width: 80px;
  height: 80px;
  line-height: 22px;
  margin: 0 auto;
  padding-top: 20px;
  border-radius: 100px;
  border: 4px solid #fff;
  cursor: pointer;
  color: #fff;
  -webkit-transition: background 1s ease;
  -moz-transition: background 1s ease;
  -o-transition: background 1s ease;
  transition: background 1s ease;
  margin-top: -150px; }

/* line 1437, ../scss/style_public.scss */
.pricing-two .pricel .phead-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-transform: uppercase; }

/* line 1444, ../scss/style_public.scss */
.phead-round:hover {
  -webkit-transition: background 1s ease;
  -moz-transition: background 1s ease;
  -o-transition: background 1s ease;
  transition: background 1s ease; }
/* line 1450, ../scss/style_public.scss */
.phead-round span {
  display: block;
  font-size: 13px;
  font-weight: normal; }

/* Clients page */
/* line 1459, ../scss/style_public.scss */
.cclient {
  padding: 10px 10px 15px 10px;
  border-bottom: 1px solid #eee;
  margin: 10px 0px 15px 0px;
  text-align: center; }

/* line 1466, ../scss/style_public.scss */
.cimage img {
  display: inline-block;
  max-width: 180px;
  margin: 10px auto; }

/* line 1472, ../scss/style_public.scss */
.cclient p {
  color: #999; }

/* Events page */
/* line 1479, ../scss/style_public.scss */
.events .panel {
  border-radius: 0px;
  border: none;
  margin: 5px 0px;
  color: #666; }
/* line 1485, ../scss/style_public.scss */
.events .panel-heading h5 {
  font-size: 16px;
  color: #fff;
  margin: 0px !important; }
  /* line 1489, ../scss/style_public.scss */
  .events .panel-heading h5 span {
    display: block !important;
    font-size: 12px !important; }
/* line 1494, ../scss/style_public.scss */
.events .accordion-panel .accordion-toggle {
  display: block;
  padding: 0px;
  background: #000; }
/* line 1499, ../scss/style_public.scss */
.events .panel-body {
  border: none;
  padding: 0px;
  background: #fafafa;
  padding: 10px 10px 10px 10px;
  border: 1px solid #e8e8e8;
  margin-bottom: 5px; }
  /* line 1500, ../scss/style_public.scss */
  .events .panel-body i {
    font-size: 13px;
    margin-right: 3px; }
/* line 1511, ../scss/style_public.scss */
.events .panel-group li {
  line-height: 20px; }
/* line 1514, ../scss/style_public.scss */
.events .panel-heading a, .events .accordion-panel a:visited, .events .panel-heading a:hover {
  border: 0px !important;
  text-decoration: none; }

/* Gallery */
/* line 1522, ../scss/style_public.scss */
.gallery img {
  max-width: 170px;
  margin: 5px;
  padding: 1px;
  border: 1px solid #aaa; }

/* Proejcts */
/* line 1532, ../scss/style_public.scss */
.project .related-projects img {
  max-width: 100px;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ddd; }
/* line 1538, ../scss/style_public.scss */
.project .carousel {
  margin: 10px 0px;
  border: 2px solid #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px; }
/* line 1545, ../scss/style_public.scss */
.project .carousel-control.left, .project .carousel-control.right {
  background-image: none;
  filter: opacity(0); }
/* line 1549, ../scss/style_public.scss */
.project .carousel-control.left span, .project .carousel-control.right span {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.3); }

/* Testimonial page */
/* line 1562, ../scss/style_public.scss */
.test {
  background: #fff;
  padding: 8px 12px;
  margin: 5px 0px 0px 0px;
  border: 1px solid #eee;
  color: #777;
  font-style: italic; }

/* line 1571, ../scss/style_public.scss */
.test-arrow {
  border-style: dashed;
  border-color: transparent;
  border-width: 0.63em;
  display: -moz-inline-box;
  display: inline-block;
  font-size: 12px;
  line-height: 0px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
  border-top-width: 1em;
  border-top-style: solid;
  top: -2px;
  left: 20px; }

/* line 1590, ../scss/style_public.scss */
.tauth {
  position: relative;
  top: -6px;
  color: #888;
  left: 10px;
  font-weight: 700; }

/* line 1598, ../scss/style_public.scss */
.testi {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #eee;
  border-bottom: 2px solid #ccc;
  padding: 12px;
  margin-bottom: 20px; }
  /* line 1605, ../scss/style_public.scss */
  .testi .tauthor {
    color: #777; }
  /* line 1608, ../scss/style_public.scss */
  .testi .tquote {
    font-style: italic;
    font-size: 14px;
    line-height: 20px;
    color: #555; }

/* Resume */
/* line 1619, ../scss/style_public.scss */
.resume h2 {
  color: #888;
  line-height: 30px; }
  /* line 1622, ../scss/style_public.scss */
  .resume h2 .rsmall {
    font-size: 18px;
    position: relative;
    top: -2px; }
/* line 1628, ../scss/style_public.scss */
.resume h4 {
  padding: 10px; }
/* line 1631, ../scss/style_public.scss */
.resume .rblock {
  margin: 5px 0px 15px 0px;
  border-bottom: 1px solid #eee; }
/* line 1635, ../scss/style_public.scss */
.resume .rinfo {
  border-left: 4px solid #eee;
  padding-left: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px; }
/* line 1641, ../scss/style_public.scss */
.resume .rmeta {
  color: #888; }
/* line 1644, ../scss/style_public.scss */
.resume .rskills {
  max-width: 300px; }
  /* line 1646, ../scss/style_public.scss */
  .resume .rskills span {
    display: inline-block;
    padding: 3px 8px;
    background: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px 0px;
    cursor: pointer; }
    /* line 1654, ../scss/style_public.scss */
    .resume .rskills span:hover {
      background: #f9f9f9; }

/* Process */
/* line 1663, ../scss/style_public.scss */
.process .process-meta {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0px auto;
  margin-top: 10px;
  color: #fff;
  margin-bottom: 5px;
  box-shadow: inset 0px 0px 2px #777; }

/* About #1 */
/* line 1680, ../scss/style_public.scss */
.about-one {
  text-align: center; }
  /* line 1682, ../scss/style_public.scss */
  .about-one img {
    margin: 5px 0px;
    max-width: 180px;
    border-radius: 100px; }
  /* line 1687, ../scss/style_public.scss */
  .about-one .social {
    margin: 10px 0px; }

/* About #2 */
/* line 1695, ../scss/style_public.scss */
.about-two .staff {
  width: 100%;
  max-width: 250px;
  margin: 0 auto; }
/* line 1700, ../scss/style_public.scss */
.about-two .pic img {
  border-radius: 10px;
  margin-bottom: 6px; }
/* line 1704, ../scss/style_public.scss */
.about-two .details {
  margin-top: 10px;
  margin-bottom: 20px; }
  /* line 1707, ../scss/style_public.scss */
  .about-two .details .name {
    font-weight: bold;
    line-height: 10px;
    padding: 0px;
    margin: 0px; }
  /* line 1713, ../scss/style_public.scss */
  .about-two .details em {
    color: #888; }
/* line 1718, ../scss/style_public.scss */
.about-two .asocial i {
  text-align: center;
  border-radius: 4px;
  line-height: 18px;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  display: inline-block; }
/* line 1728, ../scss/style_public.scss */
.about-two .asocial a {
  color: #fff;
  text-decoration: none; }
  /* line 1731, ../scss/style_public.scss */
  .about-two .asocial a:visited, .about-two .asocial a:hover {
    color: #fff;
    text-decoration: none; }
/* line 1737, ../scss/style_public.scss */
.about-two .details .adesc {
  max-width: 300px;
  margin: 0 auto;
  border-top: 1px solid #eee;
  margin-top: 5px;
  padding-top: 5px; }

/* Coming soon */
/* line 1748, ../scss/style_public.scss */
.c-soon {
  margin: 50px 0px;
  padding: 40px;
  text-align: center; }

/* line 1754, ../scss/style_public.scss */
.soon-med {
  font-size: 20px;
  line-height: 30px; }

/* line 1759, ../scss/style_public.scss */
.soon-big {
  font-size: 60px;
  line-height: 70px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif; }

/* line 1765, ../scss/style_public.scss */
.soon-small {
  font-size: 13px;
  line-height: 20px;
  max-width: 600px;
  margin: 10px auto; }

/* line 1772, ../scss/style_public.scss */
.soon-tweet {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #eee;
  border-bottom: 2px solid #ccc;
  padding: 12px 12px 5px 12px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 600px;
  font-size: 13px; }
  /* line 1783, ../scss/style_public.scss */
  .soon-tweet ul li {
    padding: 0px;
    margin: 0px;
    font-style: italic; }

/* line 1790, ../scss/style_public.scss */
.content .soon-tweet ul li {
  background-image: none;
  list-style-type: none; }

/* line 1796, ../scss/style_public.scss */
.soon-tweet ul li:before, .soon-tweet ul li:after {
  content: '"';
  font-size: 16px;
  font-family: Arial,sans-serif;
  color: #888; }

/* line 1805, ../scss/style_public.scss */
.csoon-page form input, .csoon-page form button {
  font-size: 12px; }

/* Portfolio */
/**** Isotope Filtering ****/
/* line 1814, ../scss/style_public.scss */
.isotope-item {
  z-index: 2; }

/* line 1818, ../scss/style_public.scss */
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1; }

/**** Isotope CSS3 transitions ****/
/* line 1825, ../scss/style_public.scss */
.isotope {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width; }
  /* line 1831, ../scss/style_public.scss */
  .isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity; }
  /* line 1848, ../scss/style_public.scss */
  .isotope.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s; }
    /* line 1854, ../scss/style_public.scss */
    .isotope.no-transition .isotope-item {
      -webkit-transition-duration: 0s;
      -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
      -o-transition-duration: 0s;
      transition-duration: 0s; }
  /* line 1862, ../scss/style_public.scss */
  .isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s; }
  /* line 1869, ../scss/style_public.scss */
  .isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none; }

/**** disabling Isotope CSS3 transitions ****/
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
/* line 1884, ../scss/style_public.scss */
.portfolio li {
  display: inline !important;
  border: none !important; }
  /* line 1887, ../scss/style_public.scss */
  .portfolio li a {
    color: #777; }
    /* line 1889, ../scss/style_public.scss */
    .portfolio li a:visited, .portfolio li a:hover {
      color: #777; }

/* line 1895, ../scss/style_public.scss */
#portfolio {
  text-align: center; }
  /* line 1897, ../scss/style_public.scss */
  #portfolio .element {
    margin: 20px 10px 10px 0px;
    padding: 5px;
    color: #777; }
  /* line 1902, ../scss/style_public.scss */
  #portfolio h5 {
    margin: 0px 0px;
    padding: 0px;
    color: #777; }
  /* line 1907, ../scss/style_public.scss */
  #portfolio .pcap {
    background: #fafafa;
    outline: 1px solid #ddd;
    border-top: 2px solid #ddd;
    padding: 6px 0px; }
  /* line 1913, ../scss/style_public.scss */
  #portfolio a {
    color: #fff;
    text-decoration: none; }
    /* line 1916, ../scss/style_public.scss */
    #portfolio a:visited, #portfolio a:hover {
      color: #fff;
      text-decoration: none; }
  /* line 1921, ../scss/style_public.scss */
  #portfolio .pcap {
    max-width: 200px;
    line-height: 20px; }
    /* line 1922, ../scss/style_public.scss */
    #portfolio .pcap p {
      padding: 0px 6px 10px 6px;
      font-size: 12px;
      color: #777; }
  /* line 1930, ../scss/style_public.scss */
  #portfolio img {
    width: 200px;
    max-width: 200px; }

/* line 1936, ../scss/style_public.scss */
#filters {
  margin-left: 0px;
  padding-left: 0px; }
  /* line 1939, ../scss/style_public.scss */
  #filters li {
    display: inline;
    padding: 0px;
    background: none; }
  /* line 1944, ../scss/style_public.scss */
  #filters a {
    font-size: 12px;
    display: inline-block; }

/* Career */
/* line 1952, ../scss/style_public.scss */
.career .nav > li {
  background: none;
  padding: 0px;
  list-style-type: none; }

/* line 1958, ../scss/style_public.scss */
.nav-tabs > li > a:hover {
  color: #fff; }

/* line 1962, ../scss/style_public.scss */
.career .tab-content {
  padding: 15px 20px;
  border: 1px solid #ddd;
  border-top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

/* Clients */
/* line 1972, ../scss/style_public.scss */
.clients {
  padding: 10px;
  text-align: center;
  background: #fafafa;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 10px 0px 10px 0px; }
  /* line 1979, ../scss/style_public.scss */
  .clients img {
    display: inline-block;
    width: 100%;
    max-width: 120px;
    margin: 10px 15px; }

/* Updated */
/* line 1989, ../scss/style_public.scss */
header .navbar-right .dropdown-menu {
  right: -80px; }

/* line 1993, ../scss/style_public.scss */
.c-soon .soon-subscribe {
  margin-top: 18px; }

/* line 1997, ../scss/style_public.scss */
.content li i {
  display: inline-block;
  margin-right: 8px;
  width: 12px;
  text-align: right; }

/* line 2005, ../scss/style_public.scss */
.project .carousel .carousel-control span {
  position: absolute;
  top: 50%; }
/* line 2009, ../scss/style_public.scss */
.project .carousel .carousel-control.left span {
  left: 30px; }
/* line 2012, ../scss/style_public.scss */
.project .carousel .carousel-control.right span {
  right: 30px; }

/* line 2017, ../scss/style_public.scss */
.filterform input {
  padding-left: 6px;
  border: 1px solid #ddd; }

/* Revolution Slider */
/* line 2024, ../scss/style_public.scss */
.tp-banner-container {
  width: 100%;
  position: relative;
  padding: 0;
  background: #f9f9f9; }

/* line 2031, ../scss/style_public.scss */
.tp-banner {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0; }
  /* line 2036, ../scss/style_public.scss */
  .tp-banner ul {
    display: none; }
    /* line 2038, ../scss/style_public.scss */
    .tp-banner ul li {
      list-style-type: none;
      padding-top: 0;
      padding-bottom: 0; }
  /* line 2044, ../scss/style_public.scss */
  .tp-banner .largegreenbg {
    background: transparent;
    padding: 0px; }
  /* line 2048, ../scss/style_public.scss */
  .tp-banner .medium_bg_orange {
    background: #fff;
    color: #888; }
  /* line 2052, ../scss/style_public.scss */
  .tp-banner .large_bold_white {
    color: #555; }
  /* line 2055, ../scss/style_public.scss */
  .tp-banner .small_thin_grey {
    line-height: 23px;
    color: #555; }
  /* line 2059, ../scss/style_public.scss */
  .tp-banner .button a {
    padding: 7px 14px;
    font-size: 14px;
    letter-spacing: 0.025em;
    font-weight: 400;
    border-radius: 2px; }

/* line 2069, ../scss/style_public.scss */
.aligninput {
  margin-top: 10px; }

/* line 2073, ../scss/style_public.scss */
.greenbox {
  background: none repeat scroll 0 0 #E2F2CE !important;
  border: 1px solid #BFE098 !important;
  color: #466840 !important; }
  /* line 2077, ../scss/style_public.scss */
  .greenbox b {
    color: #466840 !important; }
  /* line 2080, ../scss/style_public.scss */
  .greenbox p {
    color: #466840 !important;
    padding: 10px;
    text-align: center; }

/* line 2087, ../scss/style_public.scss */
.redbox {
  background: none repeat scroll 0 0 #FDE9EA !important;
  border: 1px solid #FDCED0 !important;
  color: #A14A40 !important; }
  /* line 2088, ../scss/style_public.scss */
  .redbox p {
    color: #A14A40 !important;
    padding: 10px;
    text-align: center; }

/* line 2098, ../scss/style_public.scss */
.note {
  background: -moz-linear-gradient(center top, rgba(255, 255, 0, 0.1) 0%, rgba(238, 238, 0, 0.08) 100%) repeat scroll 0 0 #fefdf0;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  margin-bottom: 10px;
  margin-top: 5px; }
  /* line 2105, ../scss/style_public.scss */
  .note p {
    padding: 7px 10px; }
